<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 

 -->

<mapper namespace="com.myproject.mapper.MemberMapper">
	<resultMap type="com.myproject.trytri.voes.MemberVO" id="memberVO">
		<result property="member_id" column="member_id"/>
		<result property="member_pw" column="member_pw"/>
		<result property="member_email" column="member_email"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_join_date" column="member_join_date"/>
		<result property="member_certificate" column="member_certificate"/>
		<result property="member_isadmin" column="member_isadmin"/>
	</resultMap>

	<!-- Check id and password for login -->
	<select id="userChk" parameterType="com.myproject.trytri.voes.MemberVO" resultMap="memberVO">
		SELECT *
		FROM trytri.tt_member
		WHERE member_id=#{member_id}
	</select>

</mapper>