<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 

 -->

<mapper namespace="com.myproject.mapper.ReplyMapper">
	<resultMap type="com.myproject.trytri.voes.NReplyVO" id="replyVO">
		<result property="reply_num" column="reply_num"/>
		<result property="notice_num" column="notice_num"/>
		<result property="member_id" column="member_id"/>
		<result property="reply_content" column="reply_content"/>
		<result property="reply_reg_date" column="reply_reg_date"/>
	</resultMap>
	
	<!-- 댓글 조회 -->
	<select id="getNoticeReply" parameterType="int" resultMap="replyVO">
		SELECT *
		FROM trytri.tt_notice_reply
		WHERE notice_num=#{notice_num}
		ORDER BY reply_num desc
	</select>
	
	<!-- 댓글 작성 -->	
	<insert id="insertNoticeReply" parameterType="com.myproject.trytri.voes.NReplyVO">
		insert into trytri.tt_notice_reply
		(notice_num, member_id, reply_content, reply_reg_date)
		 values
		(#{notice_num}, #{member_id}, #{reply_content}, now())
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteNoticeReply" parameterType="int">
		delete from trytri.tt_notice_reply
		where reply_num = #{reply_num}
	</delete>
</mapper>