/* #container{
    height: 100vh;
    display: flex;
    justify-content: center;
} */

#wrapper {
  position: relative;
  top: 150px;
  width: 1000px;
  margin: 0 auto;
}

.board_area{
    width: 100%;
	position: relative;
}


/* ///////////Notice board write form////////// */

.nc_title {
	width: 100%;
	margin-bottom: 7px;
}

.part1 select {
    /* 브라우저에서 디폴트로 적용하는 스타일 제거 */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: 'Nanum Gothic';
    color: #444;
    background-color: #fff;
    padding: 0.6em 1em;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    width: 10%;
    /* width: 20vh; */
}

.part1 select:focus, .part2 input[type="text"]:focus,
.content_textarea:focus{
    border: 2px solid var(--fds-fb-blue-70);
    border-color: var(--fds-fb-blue-70);
    outline: none;
}

.part2 input[type="text"]{
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
    width: 86.8%;
    padding: 0.6em 1em;
}
/* 에디터 */
.ck-editor__editable {
  min-height: 400px;
  line-height: 1.5;
}

/* 내용 부분 */
/* .content_textarea{
    resize: none;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
    height: 50vh;
    width: 100vh;
    font-size: 14px;
    font-family: 'Nanum Gothic';
    line-height: 1.5;
    padding: 1em;
} */


/* 버튼부분 */
.button_cell {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.upload_btn{
    border: solid 1px var(--tt-black);
    background-color: #fff;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    font-family: 'Nanum Gothic';
}

.notice_btn{
    /* border: none; */
    border: solid 1px #183c7a;
    font-family: 'Nanum Gothic';
    font-size: 0.9em;
    color: #fff;
    background: #183c7a;
    padding: 0.4em 1em;
    /* margin-bottom: 100px; */
    cursor: pointer;
    border-radius: 3px;
}

.write_btn {
  margin-right: 5px;
}

.write_btn:hover{
    /* background-color: transparent; */
    background: #2050a2;
    border: solid 1px #2050a2;
}

.cancel_btn{
    background-color: #fff;
    color: var(--tt-black);
    border: solid 1px var(--tt-black);
    border-color: var(--tt-black);
}

/* /////////// list part /////////*/
.headline{
	width: 100%;
    position:absolute;
    top: 50px;
    color: #4b4f56;
    font-size: 24px;
    font-weight: bold;
    line-height: 14px;
    /*padding: 4px 6px 4px 4px;*/
    padding: 8px 5px;
    background: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

#table {
    display: table; 
    width: 100%;
    position:absolute;
    top: 100px;
    /* left: 0; */
}
.row {
    display: table-row;
    text-align: center;
}

.title{
    font-weight: bold;
}
#table .cell {
    display: table-cell; 
    padding: 10px; 
    border-bottom: 1px solid #DDD;
}

/* .title .cell{
    padding: 15px; 
} */

.col1 {
    width: 7%;
}
.col2 {
    width: 78%;
}
.col3 {
    width: 15%;
}

#table .content .col2{
    text-align: left;
}

.write_button_div{
    position:absolute;
    top: 510px;
    /* left: 100px; */
}

.write_button{
	border: solid 1px var(--tt-black);
    background-color: #fff;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    font-family: 'Nanum Gothic';
}

/* pagination part */
/* 페이징 */
.paging {
    position: absolute;
    left: 50%;
    top: 550px;
    transform: translate(-50%,-50%);
}

.paging ul{
    list-style: none;
}

.paging ul>li{
    float: left;
    /* margin-right: 3px; */
}

.paging a {
    border: 1px solid #ddd; /* Gray */
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.paging a.active {
	background-color: #4CAF50;
	color: white;
}

.paging a:hover:not(.active) {
    background-color: #ddd;
}
	
	
	