#wrapper {
  position: relative;
  top: 150px;
  width: 1000px;
  margin: 0 auto;
}

.board_area{
    width: 100%;
	position: relative;
}

/* ///////////Notice board write form////////// */

#table2{
    display: block;
    position:absolute;
    /* width: 100%; */
    top: 50px;
    width: 100vh;
}

.nc_title{
	font-weight: "bold";
	background-color: "white";
}

#table2 .cell {
    display: table-cell; 
    padding: 0.4em 0.2em; 
    /* border-bottom: 1px solid #DDD; */
}

.row2{
    display: table;
    width: 100%;
}

.content_textarea:focus{
    border: 2px solid var(--fds-fb-blue-70);
    border-color: var(--fds-fb-blue-70);
    outline: none;
}

/* 내용 부분 */
.content_textarea{
    resize: none;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
    height: 10vh;
    width: 95vh;
    font-size: 0.9em;
    font-family: 'Nanum Gothic';
    line-height: 1.5;
    padding: 1em;
}


/* 버튼부분 */
.button_row{
    display: flex;
    justify-content: center;
}


.upload_btn{
    border: solid 1px var(--tt-black);
    background-color: #fff;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    font-family: 'Nanum Gothic';
}

.notice_btn{
    /* border: none; */
    border: solid 1px #183c7a;
    font-family: 'Nanum Gothic';
    font-size: 0.9em;
    color: #fff;
    background: #183c7a;
    padding: 0.4em 1em;
    /* margin-bottom: 100px; */
    cursor: pointer;
    border-radius: 3px;
}

.write_btn:hover{
    /* background-color: transparent; */
    background: #2050a2;
    border: solid 1px #2050a2;
}

.cancel_btn{
    background-color: #fff;
    color: var(--tt-black);
    border: solid 1px var(--tt-black);
    border-color: var(--tt-black);
}

.nc_title{
    display: flex;
    justify-content: space-between;  
}

.detail_btn_cell{
    float: right;
}

/* 버튼부분 */
.reply_button_row{
    display: flex;
    justify-content: end;
    /* align-items: flex-end; */
}

.reply_button_cell{
    float: right;
}

/* 댓글표시부분 */
#replyList > li > div > span {
  line-height: 2;
}

#replyList span:nth-child(1) {
  font-weight: bold;
}

#replyList span:nth-child(2) {
  font-size: 0.8em;
}

#replyList span:nth-child(3) {
  float: right;
}

#replyList p {
  font-size: 0.9em;
}

#replyList div {
  margin-bottom: 10px;
}